.footer {
    display: flex;
    background-color: #D5D4D8;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.socialMedia {
    display: flex;
    gap: 70px;
    padding: 20px;
}

.socialIcons {
    width: 30px;
}

.socialIcons:hover,
.socialIcons:focus {
    background-color: #a496ce;
}