.interests {
    display: flex;
    background-color: #F5F5F5;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 600px;
    padding: 0 25px 48px 25px;
}

.header {
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
}

.texts {
    padding-top: 10px;
    margin: 0;
    font-size: 12px;
    color: #4A4E74;
    line-height: 1.5;
}